
div.squad-maker {
    border: 1px solid white;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,7%); 
}

div.squad-name {
    grid-column: 1/ -1;
}
div.squad-players {
    overflow-y:auto;
    grid-column: 1/-1; 
    grid-row: 6/-1; 
}
