
* {
  color: white;
  background-color: #282c34;
}

.grid {
  display:grid;
}
.flex {
  display:flex;
}
div#app {
  height: 100vh;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: 200px auto;
}

button {
  background-color: #282c34;
  border: 1px solid white;
  width: 20vh;
  height: 10vh;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #d3d3d3;
  border: 1px solid white;
  transition: ease-in-out 0.3s;
  color: #282c34;
  cursor: pointer;
}
header {
  grid-column: 1 / -1 ;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
div.card {
  border: 1px solid white;
  margin: auto 0;
  grid-column: span 4;
  grid-row: span 4; 
}
section#main {
  grid-column: 2 / -1; 
  margin-top: 5px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; 
  background-color: #282c34;
}
div#main-controls {
  margin-top: 5px;
  margin: 0 auto; 
  height: 30vh;
}

div#main-section {
  margin: 0 auto;
}
