
* {
  color: white;
  background-color: #282c34;
}

.grid {
  display:grid;
}
.flex {
  display:flex;
}
div#app {
  display:flex;
  flex-direction: column;
  height: 100vh;
}

button {
  background-color: #282c34;
  border: 1px solid white;
  width: 20vh;
  height: 10vh;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #d3d3d3;
  border: 1px solid white;
  transition: ease-in-out 0.3s;
  color: #282c34;
  cursor: pointer;
}
header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
section#main {
  margin-top: 5px; 
  display: flex;
  flex: 1 1 auto; 
  justify-content: center;
  background-color: #282c34;
}
div#main-controls {
  margin-top: 5px;
  height: 30vh;
}

div#main-section {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
